<input type="search" placeholder="Search" />

<article class="mt-4">
  <details>
    <summary>
      Hobbylosa

      <a href="#dialog-demo"><button type="button">Buy menu</button></a>

      <div class="window active is-bright" id="dialog-demo" role="dialog" aria-labelledby="dialog-title">
        <div class="title-bar">
          <div class="title-bar-text" id="dialog-title">Problem Diagnostics</div>
          <div class="title-bar-controls">
            <button aria-label="Close" onclick="history.back()"></button>
          </div>
        </div>
        <div class="window-body has-space">
          <h2 class="instruction instruction-primary">Identifying your problem...</h2>
          <div role="progressbar" class="marquee"></div>

          <div class="field-row" style="max-width: 300px">
            <label>Amount:</label>
            <label>Low</label>
            <input type="range" min="1" max="11" value="5" />
            <label>High</label>
          </div>
        </div>
        <footer class="flex gap-2 justify-end">
          <button>Buy</button>
          <button onclick="history.back()">Cancel</button>
        </footer>
      </div>
    </summary>
    <div class="has-scrollbar overflow-auto" style="max-height: 100px;">
      Bissl mehr click powa.
    </div>
  </details>
</article>

<span class="loader animate" aria-label="Processing your request"></span>
