<h2>Upgrades</h2><br>

<input (change)="searchUpgrade($event)" placeholder="Search" type="search"/>

<article class="mt-4">
  <details *ngFor="let upgrade of filteredUpgrades; index as i;">
    <summary>
      {{ upgrade.name }}
      <button (click)="onClick(upgrade.onBuy)" [disabled]="score - nextPrice < 0" type="button">buy one
        for {{ nextPrice }}
      </button>
    </summary>
    <div class="has-scrollbar overflow-auto" style="max-height: 100px;">
      {{ upgrade.description }} <br>
      This upgrade produces {{ upgrade.yieldPerSecond }}/s. And Increases click value by {{ clickValueIncrement }}.
    </div>
  </details>
</article>

<span *ngIf="loading" aria-label="Processing your request" class="loader animate"></span>
