<h2>Upgrades</h2><br>

<input (change)="searchUpgrade($event)" placeholder="Search" type="search"/>

<article class="mt-4">
  <details *ngFor="let upgrade of filteredUpgrades; index as i;">
    <summary>
      {{ upgrade.name }}
      <button (click)="onClick(upgrade.onBuy, upgrade, ['Hobbylosa'].includes(upgrade.name))"
              [disabled]="score - (!upgrade.yieldPerSecond ? nextPrice : upgrade.nextPrice) < 0" type="button">buy one
        for {{ !upgrade.yieldPerSecond ? nextPrice : upgrade.nextPrice }}
        @if (upgrade.yieldPerSecond) {
          ({{ upgrade.amount }})
        }
      </button>
    </summary>
    <div class="has-scrollbar overflow-auto" style="max-height: 100px;">
      {{ upgrade.description }} <br>
      This upgrade produces {{ upgrade.yieldPerSecond ?? 0 }}/s. <span *ngIf="!upgrade.yieldPerSecond">And Increases click value by {{ clickValueIncrement }}</span>.
    </div>
  </details>
</article>

<span *ngIf="loading" aria-label="Processing your request" class="loader animate"></span>
