<h2>Achievements</h2><br>

@for (achievement of achievements; track achievement.name) {
  <div class="border border-gray-400">
    <p>{{ achievement.name }}</p>
    <p>{{ achievement.description }}</p>
    <p>{{ dateFormatter.format(stringToDate(achievement.receivedAt.toString())) }}</p>
  </div>
} @empty {
  no achievements reached yet...
}

@if (missingAchievements.length > 0) {
  <h3 class="mt-4">missing Achievements</h3><br>

  <div class="overflow-auto max-h-24">
    @for (achievement of missingAchievements; track achievement.name) {
      <div class="border border-gray-400">
        <p>{{ achievement.name }}</p>
        <p>{{ achievement.description }}</p>
        @if (achievement.hasProgress) {
          <app-achievement-progress [achievement]="achievement"></app-achievement-progress>
        }
      </div>
    }
  </div>
}
