<h2>Statistics</h2><br>

<p aria-describedby="score-info">score: {{ score }}</p>
<div hidden id="score-info" role="tooltip">Your money.</div>

<p aria-describedby="totalYieldPerSecond-info">totalYieldPerSecond: {{ totalYieldPerSecond }}</p>
<div hidden id="totalYieldPerSecond-info" role="tooltip">What is generated passively per second.</div>

<p aria-describedby="clickValue-info">clickValue: {{ clickValue }}</p>
<div hidden id="clickValue-info" role="tooltip">The value that is added to your score each click.</div>
